# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual environment
backend/venv/
backend/.env

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Windows / PowerShell
*.log
*.err
*.TMP
*.tmp
nssm.ext
